DB_URL=jdbc:mysql://localhost:3306/bridge_inspection?createDatabaseIfNotExist=true&useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true&useSSL=false
DB_USERNAME=root
DB_PASSWORD=123456
JWT_SECRET=bridge-inspection-system-jwt-secret-please-change-in-production-2026
GIT_REPOSITORY_URL=https://github.com/Xiaotu-666/Bridge.git
GITHUB_OWNER=Xiaotu-666
GITHUB_REPO=Bridge
UPDATE_MANIFEST_URL=
